<div class="container text-xs-center">
  <h1 class="display-1"> Tic Tac Toe</h1>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-success start-game" data-size="3">3x3</button>

    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div id="board" >
        <table class="table table-bordered">
          <tr>
            <td> <i style="visibility:hidden" class="fa fa-circle-o fa-5x"> </td>
              <td> <i style="visibility:hidden" class="fa fa-circle-o fa-5x"> </td>
                <td> <i style="visibility:hidden" class="fa fa-circle-o fa-5x"> </td>
                </tr>
                <tr>
                  <td> <i style="visibility:hidden" class="fa fa-circle-o fa-5x"> </td>
                    <td> <i style="visibility:hidden" class="fa fa-circle-o fa-5x"> </td>
                      <td> <i style="visibility:hidden" class="fa fa-circle-o fa-5x"> </td>
                      </tr>
                      <tr>
                        <td> <i style="visibility:hidden" class="fa fa-circle-o fa-5x"> </td>
                          <td> <i style="visibility:hidden" class="fa fa-circle-o fa-5x"> </td>
                            <td> <i style="visibility:hidden" class="fa fa-circle-o fa-5x"> </td>
                            </tr>
                          </table>
                        </div>
      
    </div>
  </div>
</div>
