<div class="container text-xs-center">
  <h1 class="display-1"> Tic Tac Toe</h1>
  <button class="btn btn-success start-game" data-size="3">3x3</button>
  <table id="board" class="table table-bordered">
    <!-- <tr>
      <td> <i style="visibility:hidden" class="fa fa-circle-o fa-5x"> </td>
      <td> <i style="visibility:hidden" class="fa fa-circle-o fa-5x"> </td>
      <td> <i style="visibility:hidden" class="fa fa-circle-o fa-5x"> </td>
    </tr> -->
  </table>
</div>
