<div class="container text-xs-center">
  <h1 class="display-1"> Tic Tac Toe</h1>
  <button class="btn btn-success start-game" data-size="3">3x3</button>
  <div id="board">
    <table class="table table-bordered">
      <tr> <td> 1 </td> <td> 1 </td> <td> 1 </td> </tr>
      <tr> <td> 1 </td> <td> 1 </td> <td> 1 </td> </tr>
      <tr> <td> 1 </td> <td> 1 </td> <td> 1 </td> </tr>
    </table>
  </div>
</div>
